[2019-03-14 14:57] eric-brechemier opened #1 "Skype dumped me"
One week before Christmas, on 18 December 2017, my subscription to Skype premium service "France Unlimited mins to landlines" was cancelled with no action from my part and no prior warning. I had been subscribed without interruption for more than 9 years, since July 24th 2008.

"We are sorry to hear that you will no longer be using our subscription service. We hope you enjoyed using it.", they sai

[2019-03-14 14:58] eric-brechemier opened #2 "Compare VOIP service providers"
I compared the following VOIP service providers:

[8x8](https://www.8x8.com/), [Blueface](https://www.blueface.com), [CallHippo](https://callhippo.com/), [Dialpad](https://www.dialpad.com/), [eVoice](https://www.evoice.com/), [FlyNumber](http://www.flynumber.com), [Fonality](https://www.fonality.com.au/), [French Office](https://french-office.com), [GlobalCallForwarding](https://www.globalcallforw

[2019-03-14 15:00] eric-brechemier opened #3 "Choose my new mobile phone number on Twilio"
I want my mobile phone number to be memorable because:

* a memorable phone number is also more likeable and can help to build a good first impression
* I want to remember it easily myself

[2019-03-14 15:01] eric-brechemier opened #4 "Try VOIP software phones"
I started by testing [Zoiper](https://www.zoiper.com/), which was, if I remember correctly, provided under white label by one of the VOIP services that I considered, and was otherwise often mentioned in the documentation of others.

After a few months with Zoiper, I was confronted to repeated issues when making phone calls over a particular WiFi connection which led me to start testing [Linphone](

[2019-03-14 15:02] eric-brechemier opened #5 "Configure Twilio to send/receive phone calls"
I already had a Twilio account when I started the setup. Here I will create a completely new account to check all the steps needed *from Zero to Twilio*. Starting from an email address, a regular phone number and a credit card, we will end up with a new virtual phone number that can make and receive calls from a computer.

[2019-03-14 15:03] eric-brechemier opened #6 "Configure Twilio to record voicemail and send it by email"
When the software phone is closed on my computer, or when I am away and unable to answer a call, I wish to direct the caller to voicemail.

A notification of the call including the date/time, the phone number of the caller and a link to the recording should then be sent to me by email.

[2019-03-15 15:14] eric-brechemier commented on #1
My subscription expired on January the 3rd, 2018.

[2019-03-15 15:26] eric-brechemier commented on #1
My Skype Number expired on January 11th, 2018.

[2019-03-15 15:39] eric-brechemier commented on #1
I decided to stop using Skype to make phone calls to regular phones, and to start looking for an alternative provider for a VOIP phone number that I can publish online and share with all the pesky services that now require one during signup.

I did not pick any new Skype Subscription. I decided, however, to renew the Skype Number for an extra year, to give me the time to find an alternative.

####

[2019-03-15 17:10] eric-brechemier commented on #1
Apart from the obvious, namely that Skype ended our 10-year relationship with no remorse and not a word of explanation, my decision was compounded by the fact that over the years, the Skype to Phone service saw little progress in terms of features, but greatly deteriorated in terms of user experience, especially in the shiny new version of the desktop app released recently before.

[2019-03-15 17:38] eric-brechemier commented on #1
## Missing Skype to Phone Features

### Phone

I used to provide my Skype number during signup when a phone number is required because I don't want to get bothered by robocalls or other unsolicited calls. But recently, these services started to require explicitly a mobile phone number, starting with +336 or +337 in France, while Skype only offers so-called "non-geographical (VOIP)" numbers in Fran

[2019-03-15 19:57] eric-brechemier commented on #1
## Degraded User Experience in Skype Desktop (2017)

In 2017, Skype turned 14, which is 88 in dog years. Fittingly, they offered a major redesign to their desktop app, which, by copying the looks of mobile apps in vogue at the time, in a failed attempt to appeal to a younger audience, made it look like an 88-year-old who starts to dress like a teenager:

---

<img width="220" alt="2017-12-04-Skype

[2019-03-20 17:25] eric-brechemier commented on #1
On January 22, 2018, I renewed my Skype Number for 12 months, to benefit from a 50% discount on the same subscription paid monthly. In spite of that discount, the 12 month subscription cost 41.04€ for a Skype Number alone, while my previous subscription included a Skype Number and unlimited minutes to landlines for 42.48€ per year (3.54€/month).

In order to get the same level of service, I would

[2019-03-20 18:14] eric-brechemier commented on #1
When my Skype Number subscription expired a year later, on January 22, 2019, I did not renew it.

[2019-03-20 18:14] #1 closed, assigned to eric-brechemier

[2019-03-20 21:50] eric-brechemier commented on #2
Multiple VOIP services are exclusively targeted at the Enterprise market rather than individuals, with two clear hints:

* No Signup
* No Pricing given, but "Call Us" or "Request for a Quote" instead

In the above list, this filters out:

[8x8](https://www.8x8.com/), [Blueface](https://www.blueface.com), [Dialpad](https://www.dialpad.com/), [Fonality](https://www.fonality.com.au/), [French Office]

[2019-03-20 22:27] eric-brechemier commented on #2
Of the above, only the following services allow to make and receive calls from a computer:

[CallHippo](https://callhippo.com/), [ippi](https://www.ippi.com/), [Line2](https://www.line2.com/), [localphone](https://www.localphone.com/), [myDivert.com](http://www.mydivert.com/), [OVH](https://www.ovhtelecom.fr/telephonie/), [SIP VOIP Telecom](https://www.sip-voip-telecom.com), [Sonetel](https://sone

[2019-03-20 23:19] eric-brechemier commented on #2
**EDIT:** *Back in 2019,* all but one of these services had French phone numbers on offer:

| Service | French Phone Numbers? | Subscription |
| :---: | :---: | ---: |
| [CallHippo](https://callhippo.com/) | Yes | [$6/month](https://callhippo.com/signup/france-phone-number) |
| [ippi](https://www.ippi.com/) | Yes | [setup €6 + €9.60/month](https://www.ippi.com/#plans) |
| [Line2](https://www.line2

[2019-03-21 19:37] eric-brechemier commented on #2
**EDIT:** But, *back in 2019*, only a few of these services *offered* French *mobile* phone numbers, starting with the prefix +336 or +337:

| Service | French Mobile Phone Numbers? | Subscription |
| :---: | :---: | ---: |
| [Sonetel](https://sonetel.com) | Yes | [€5.20/month <br> or €57/year](https://sonetel.com/en/prices/phone-numbers/) |
| [Twilio](https://www.twilio.com/) | Yes | [$2/month](h

[2019-03-21 20:06] eric-brechemier commented on #2
I have decided not to test Zadarma, because its subscription price exceeds my monthly budget and the selection of French mobile phone numbers is too limited: only 12 numbers were proposed by the [search](https://zadarma.com/en/tariffs/numbers/france/mobile/) and they all contained the sequence 555 which makes them look fake, with reference to the [fake US numbers](https://fakenumber.org/) that reg

[2019-03-21 22:12] eric-brechemier commented on #2
I have tested Sonetel service during 4 months between August 2018 and December 2018. At the time, the monthly subscription for a French mobile phone number was €4.80/month (now €5.20/month).

My onboarding experience was atrocious: shortly after signup, without prior warning, I got disconnected from the service, and my attempt to login failed with the error:

Going to my email to contact support,

[2019-03-21 22:34] eric-brechemier commented on #2
I found some striking similarities between Sonetel and Zadarma:

1. Zadarma [reviews](https://www.capterra.com/p/166095/Zadarma/?sort_options=Lowest%20Rating) also [complain](https://www.trustpilot.com/review/zadarma.com?languages=en&stars=1) of long delays to verify official documents which have to be submitted to support before using the service

2. the French mobile phone numbers offered for sa

[2019-03-21 22:53] eric-brechemier commented on #2
Well, not exactly.

The French regulation agency [Arcep](https://en.wikipedia.org/wiki/Autorit%C3%A9_de_R%C3%A9gulation_des_Communications_%C3%89lectroniques_et_des_Postes) has assigned mobile phone numbers to telecom operators in blocks, and the prefix of a mobile phone number allows to identify that operator using a [search engine](https://www.arcep.fr/demarches-et-services/professionnels/base-n

[2019-03-22 13:25] eric-brechemier commented on #2
My experience with Twilio has been the complete opposite. I have not hit any walls, I only found some very steep slopes to climb.

To be honest, I had some prior experience with Twilio in a different domain, because I have used their SMS API at work. And so I felt a little bit more at home with this service. That's how I knew that they had French mobile phone numbers with voice and SMS capabilitie

[2019-03-22 13:25] #2 closed, assigned to eric-brechemier

[2019-04-05 15:47] eric-brechemier commented on #3
It is rare today to have to memorize a phone number. As a kid, growing up in the 1980s, I knew a few numbers by heart: my best friends, my dad's work, my home. All landlines of course, since no-one had mobile phones at the time. And having built such a strong association with these numbers, I still remember them to this date, even though I have not used most of them for over 20 years. People moved

[2019-04-05 16:35] eric-brechemier commented on #3
According to research on the psychology of numbers by Marisca Milikowski & Jan J. Elshout in the 1990s, the memorability of numbers is related to [how we feel about numbers](http://www.rekencentrale.nl/wp-content/uploads/2017/03/favorites.pdf), how likeable they are, and the [familiarity that we gain through everyday experience and education](http://www.rekencentrale.nl/wp-content/uploads/2017/08/

[2019-04-05 17:03] eric-brechemier commented on #3
In the Twilio dashboard, go to the [Phone Numbers](https://www.twilio.com/console/phone-numbers/incoming) section, then click the button to buy a new number. You can also navigate directly to the subsection [Buy a Number](https://www.twilio.com/console/phone-numbers/search).

<img width="907" alt="twilio-buy-a-number" src="https://user-images.githubusercontent.com/151276/58263561-860e1f80-7d7c-11e

[2019-04-05 17:09] eric-brechemier commented on #3
You need to "Show Advanced Search" to restrict the search to Mobile phones. I also selected Voice and SMS capabilities to make sure that I can both call and text using this number:

<img width="786" alt="twilio-number-type-and-capabilities" src="https://user-images.githubusercontent.com/151276/55644482-5c059b80-57d6-11e9-991a-8bf560a28950.png">

[2019-04-05 17:16] eric-brechemier commented on #3
Twilio supports two different wildcards, `*` and `%`, to replace one or multiple digits respectively:

This can be used with profit to search for memorable patterns in the number.

*Note that the wildcard which matches a single digit is `*` (and not the usual `?`).*

[2019-04-05 18:00] eric-brechemier commented on #3
I started by exploring which prefixes are available, thus examining digits at the start of the number.

The first digit for a French mobile phone number is either 6 or 7. I tried these two digits first:

| Prefix | Results |
| :--- | :---: |
| **6** | **Yes** |
| 7 | No |

Starting with a 6, I then tried each digit in the second position in turn and noted which search returned any results:

| Pref

[2019-04-05 19:56] eric-brechemier commented on #3
We shall first consider the most traditional chunking of mobile phone numbers.

In France, local numbers start with `0` followed by 9 digits for all numbers. Local numbers are usually written as `0# ## ## ## ##` (5 groups of 2 digits).

Applied to the above list of prefixes, this gives the following chunks:

| Prefix | French Format |
| :--- | :--- |
| 644601 | 06 44 60 1… |
| 6446021 | 06 44 60 2

[2019-04-05 20:47] eric-brechemier commented on #3
Starting from the most promising prefixes, we can now introduce wildcards `*` (single digit) and `%` (0, 1 or more digits) to help us in building memorable patterns.

For example, starting with the prefix 06 44 60 5… we can look for:

* a single digit: 01, 02, …
* a sequence of descending tens: 50, 40
* a repeated chunk: 44, 60
* a double digit: 11, 22, …
* a tabled number sharing factors with the

[2019-04-05 21:28] eric-brechemier commented on #3
For reference, here is the classification of all the numbers between 1 and 100 in groups of decreasing memorability according to Marisca Milikowski & Jan J. Elshout in [What makes a number easy to remember?](http://www.rekencentrale.nl/wp-content/uploads/2017/08/What_makes_a_number_easy.pdf):

| % Recalled | Category | Numbers |
|  ---: | :---: | :--- |
| 82% | Singles | 1, 2, 3, 4, 5, 6, 7, 8, 9

[2019-04-05 22:13] eric-brechemier commented on #3
In my case, I chose to use a non-traditional chunking by groups of 3 digits instead of 2 because it gave me a number of the form `+33 6xx 6xy 6xz` with:

* less chunks: 3 instead of 5 in traditional French format
* a memorable first chunk: `6xx` (single digit + repeated digit x)
* a sequence of chunks offset by 1: `6xx`, `6xy`, `6xz`

In comparison, putting this number in the traditional French fo

[2019-04-08 15:27] eric-brechemier commented on #4
| | [Zoiper](https://www.zoiper.com/) | [Linphone](https://linphone.org/) |
| ---: | :---: | :---: |
| **OS** | Windows/Mac/Linux | Windows/Mac/Linux |
| **License** | Proprietary | Open Source (GPLv2) |
| **Price** | Zoiper Lite: Free for non‑commercial use<br>*Zoiper PRO: 47.94€* | Free |
| **Audio Codecs** | opus, speex, iLBC, gsm, g711 ulaw, g711 alaw, g722, g726<br>*+ g729 (Only in PRO)* | op

[2019-04-23 17:17] eric-brechemier commented on #4
## Welcome

After installing the app, on the first launch, the experience in Zoiper and Linphone differs:

| Zoiper | Linphone |
| :---: | :---: |
| <img width="424" alt="zoiper-01" src="https://user-images.githubusercontent.com/151276/56600589-5511c200-65f9-11e9-8742-bb16d633997a.png"> | <img width="478" alt="linphone-01" src="https://user-images.githubusercontent.com/151276/56600641-75418100-65f

[2019-04-23 18:53] eric-brechemier commented on #4
## Account Setup

In both cases, you need three pieces of information and a half to setup the app:

* one: the SIP username
* two: a password
* three: the SIP domain
* and one half: an optional list of parameters to complete the SIP domain

In the case of Twilio, you choose your own SIP username and password when you create the SIP user. You choose your own subdomain, which must be unique among al

[2019-04-24 15:11] eric-brechemier commented on #4
## Making a Call

From this point, we can make and receive calls. In both Zoiper and Linphone, we can call a number directly by searching for this number in our list of contacts, still empty at this point, then choosing to call the number disregarding the fact that no matching contact was found:

| Zoiper | Linphone |
| :---: | :---: |
| <img width="122" alt="zoiper-19" src="https://user-images.gi

[2019-04-24 15:35] eric-brechemier commented on #4
## Receiving a Call

Once the setup has been completed, you can receive calls as long as the app is running. Technically, the SIP account must be registered with the VOIP provider that provides the bridge between the Public Switched Telephone Network (PSTN) and your computer. When a regular phone calls your virtual phone number, the VOIP provider translates that to your VOIP address (`username@dom

[2019-04-24 16:45] eric-brechemier commented on #4
## Contact Management

For day to day usage, it is more convenient to save contacts for each number to call. An added benefit is that the name of the contact gets displayed when the corresponding number calls you.

| Zoiper | Linphone |
| :---: | :---: |
| <img width="122" alt="zoiper-10" src="https://user-images.githubusercontent.com/151276/56675756-2f4df100-66bd-11e9-87fe-49bddf363d2a.png"> | <i

[2019-04-24 17:30] eric-brechemier commented on #4
In both Zoiper and Linphone, it is actually easier to search for a number first, then save that number as a contact than to create a contact from scratch.

The major advantage is that the phone number is prefilled, in the right place and in the right format.

| Zoiper | Linphone |
| :---: | :---: |
| <img width="122" alt="zoiper-19" src="https://user-images.githubusercontent.com/151276/56679802-36

[2019-04-24 17:37] eric-brechemier commented on #4
### Deleting a Contact

| Zoiper | Linphone |
| :---: | :---: |
| <img width="423" alt="zoiper-35" src="https://user-images.githubusercontent.com/151276/56680709-0aab4680-66c8-11e9-9162-a956066e0eb8.png"> | <img width="477" alt="linphone-32" src="https://user-images.githubusercontent.com/151276/56680550-c6b84180-66c7-11e9-970a-5f55ef953b05.png"> |
| <img width="422" alt="zoiper-36" src="https://us

[2019-04-24 19:13] eric-brechemier commented on #4
## Conclusion

Both Zoiper and Linphone may work for you. Neither is perfect.

I chose Linphone over Zoiper because:

* I found Linphone to be more reliable than Zoiper over a particularly unstable Wi-Fi connection
* Contact Management in Zoiper is infuriating
* Linphone supports encryption out of the box, while it is a premium feature in Zoiper

I learned a lot by using Zoiper however: it is much

[2019-04-25 15:54] eric-brechemier commented on #5
## Signup

1. go to [twilio.com](https://www.twilio.com/)
2. Click the <a href="https://www.twilio.com/try-twilio"><span><img width="70" align="middle" alt="Signup" src="https://user-images.githubusercontent.com/151276/56748713-9bddf400-6780-11e9-82b0-fe11d891c29f.png"></span></a> button found in the top right of the page
3. Fill in your First Name, Last Name and Email. Pick a [strong, unique pass

[2019-04-25 16:21] eric-brechemier commented on #5
## Building Trust

At this step, the account has been created but we need to take a few additional steps to build trust between us and the system. We will:

* verify our regular phone number
* upgrade from a trial account to a paid account by registering our credit card
* top up the minimum amount ($20)

### Verify Number

1. provide your regular phone number in international format
<p align="cent

[2019-04-25 16:24] eric-brechemier commented on #5
You can now answer a few questions to "customize your experience".

I chose to <span><img align="middle" width="170" alt="Skip to dashboard" src="https://user-images.githubusercontent.com/151276/56751837-3d684400-6787-11e9-8230-85750b3b4fec.png"></span> instead.

You get a welcome message, which you can close:

<p align="center">
  <kbd>
    <img width="400" alt="Welcome to Twilio" src="https://us

[2019-04-25 17:52] eric-brechemier commented on #5
We have already completed step 1: Verify a Caller ID.

<p align="center">
  <kbd>
    <img width="659" alt="1-verify-number" src="https://user-images.githubusercontent.com/151276/56756966-4eb74d80-6793-11e9-9419-4ca05d176ecd.png">
  </kbd>
</p>

We will now register our credit card and top up.

### Register Credit Card

1. fill in the card details and your postal address. You can also provide an o

[2019-04-25 19:10] eric-brechemier commented on #5
Now that our account has been upgraded, we can choose a virtual phone number from the whole pool of numbers available in Twilio.

I have described separately [how to choose a memorable phone number](https://github.com/eric-brechemier/how-i-replaced-skype-with-twilio/issues/3).

I will now describe the steps to subscribe to the chosen number.

[2019-04-25 19:45] eric-brechemier commented on #5
At the bottom of the <span><img align="middle" width="70" alt="Develop" src="https://user-images.githubusercontent.com/151276/158902677-9fb4da0a-3a28-42f3-8065-38f42bfe0785.png"></span> tab in the sidebar, you can find a link to <span><img align="middle" width="140" alt="Explore products" src="https://user-images.githubusercontent.com/151276/158902880-4145f58f-a449-493e-8ec4-44003eeec889.png"></sp

[2019-04-25 20:05] eric-brechemier commented on #5
## Remove Your Regular Phone Number From Verified Caller IDs

In the <a href="https://www.twilio.com/console/phone-numbers/incoming"><span><img align="top" width="140" alt="Phone Numbers" src="https://user-images.githubusercontent.com/151276/56764124-44ea1600-67a4-11e9-8ffc-dfd037387bdc.png"></span></a> section, we'll start by removing our regular number from the Verified Caller IDs. Our goal is t

[2019-04-25 23:28] eric-brechemier commented on #5
## Buy a Number

Still in the <a href="https://www.twilio.com/console/phone-numbers/incoming"><span><img align="top" width="140" alt="Phone Numbers" src="https://user-images.githubusercontent.com/151276/56764124-44ea1600-67a4-11e9-8ffc-dfd037387bdc.png"></span></a> section,

1. go to <a href="https://www.twilio.com/console/phone-numbers/search"><span><img align="top" width="100" alt="Buy a Number"

[2019-04-29 16:40] eric-brechemier commented on #5
## Upload Supporting Documents (Depending on Country)

Depending on the [regulatory requirements](https://www.twilio.com/docs/phone-numbers/regulatory/phone-numbers-regulatory-requirements-customers) of the country of origin of the phone number, you may need to submit additional documents to prove your identity and your address. This is the case in France.

For a [mobile phone number in France](ht

[2019-05-02 16:37] eric-brechemier commented on #5
## Create a SIP User

The SIP user represents yourself, when you are making and receiving phone calls from your computer. Here we will simply call it `me` but you could choose any other username based on your name, e.g. `jane` or `jane.doe`. Alternatively, if you plan on using this phone number from multiple computers, you should create a separate user with the name of each machine instead, e.g. `

[2019-05-02 16:37] eric-brechemier commented on #5
## Create a SIP Domain

Twilio allows you to customize the first part of this domain, the subdomain that appears before `.sip.us1.twilio.com`.

While you can choose the subdomain freely, it has to be unique among all Twilio users. To ensure that it is the case, we will use here the phone number that you purchased from Twilio as a subdomain.

For illustration purpose, we'll consider that you purcha

[2019-05-02 20:39] eric-brechemier commented on #5
## Connect to SIP from your Computer

At this step, you can configure the VOIP software phone on your computer to connect to Twilio with your new SIP user.

In our example, the address of your SIP user is `me@1-202-555-0162.sip.us1.twilio.com`. Following the steps above, you have created a similar address where `1-202-555-0162` is replaced with your Twilio phone number.

*Note that there is an ext

[2019-05-03 17:57] eric-brechemier commented on #5
## Making Calls

In the settings of the SIP Domain, we can configure the HTTP URL that will be triggered when a call is made from your computer. That URL is expected to return [further instructions](https://www.twilio.com/docs/voice/make-calls#tell-twilio-what-to-do-on-the-call) telling Twilio how to handle the call. These instructions are written in an XML format called [TwiML](https://www.twilio

[2019-05-09 18:57] #4 closed, assigned to eric-brechemier

[2019-05-10 16:12] eric-brechemier commented on #5
## Receiving Calls

We now need to prepare a new TwiML script with instructions that indicate how we wish Twilio to handle an incoming call. We will create a TwiML Bin to this end, and we will set the URL of the TwiML Bin as handler for incoming calls in the settings of our Twilio phone number.

We will start with the following script, which forwards the incoming call to our SIP endpoint:

[code]

[2019-05-10 16:52] eric-brechemier commented on #5
You can now make and receive calls using your new Twilio phone number.

I will now describe how to configure a voicemail in a [separate issue](https://github.com/eric-brechemier/how-i-replaced-skype-with-twilio/issues/6).

[2019-05-10 16:52] #5 closed, assigned to eric-brechemier

[2019-05-13 14:13] eric-brechemier commented on #6
## How I Failed to Configure a Voicemail Using TwiML Alone

Starting from [a script as simple as possible](https://github.com/eric-brechemier/how-i-replaced-skype-with-twilio/issues/5#issuecomment-491344662) to forward calls to my SIP endpoint, I first added a message, read by a friendly female robot using [`<Say>`](https://www.twilio.com/docs/voice/twiml/say), followed with audio recording for th

[2019-05-13 17:08] eric-brechemier commented on #6
## Twimlets to the Rescue!

After TwiML Bins, the next simplest option is [Twimlets](https://www.twilio.com/labs/twimlets), a set of ready-made scripts developed and hosted by Twilio.

We first need a Twimlet which checks whether the call failed or succeeded before it triggers the voicemail. To that end, we will use [a little trick](https://stackoverflow.com/a/18518723) with the [Forward Twimlet](

[2019-05-13 20:05] eric-brechemier commented on #6
## Recording Your Voicemail Greeting

Here I am using [Audacity](https://www.audacityteam.org/) to record the greeting message in WAV format. Alternatively, you can use any audio recorder capable of saving files in WAV or AIFF format. Twilio also [supports playing](https://www.twilio.com/docs/voice/twiml/play#nouns) files in MP3 format, but these are already compressed, and their conversion to the

[2019-05-14 20:51] eric-brechemier commented on #6
## Hosting the Audio File as an Asset on Twilio

The Voicemail Twimlet can play audio files accessible from any URL. If you have your own Web server, you may host it there. I find it more convenient to keep everything in the same place though, and to let Twilio host the audio file for the greeting as well.

1. In the Twilio dashboard, go to <a href="https://www.twilio.com/console/runtime/assets/pu

[2019-05-14 21:19] eric-brechemier commented on #6
## Using the Voicemail Twimlet with an Audio Greeting

We can now configure the Voicemail Twimlet to play our recorded greeting instead of a synthesized message.

1. Open the page of the [Voicemail Twimlet](https://www.twilio.com/labs/twimlets/voicemail)

2. At the bottom of the page, fill in the Twimlet Generator form. Add your email and set the Transcribe option to `false`, as before, but this t

[2019-05-14 23:14] eric-brechemier commented on #6
## Redirecting Missed Calls to Voicemail

At this point, you have a URL for the Voicemail Twimlet with your custom configuration, either using a text message in English or a link to an audio greeting that you recorded yourself.

1. Copy this URL and go to the page of the [Forward Twimlet](https://www.twilio.com/labs/twimlets/forward)

2. At the bottom of the page, you find the Twimlet Generator fo

[2019-05-14 23:25] eric-brechemier commented on #6
## Managing Voicemails

You can find the list of recorded voicemails in your Twilio dashboard:

1. Open the **Logs** section in the <span><img align="top" width="70" alt="Monitor" src="https://user-images.githubusercontent.com/151276/158492396-5d2c27cb-8623-4c71-b60f-88d8f44c37b6.png"></span> tab.

2. Go to the **Call recordings** subsection.

3. Here you find a list of all your voicemail recordin

[2019-05-15 20:55] #6 closed, assigned to eric-brechemier

[2019-05-20 16:26] eric-brechemier opened #7 "Configure Twilio to send/receive text messages"
Ideally, I would like to:
* receive text messages sent to the Twilio number as SIP messages in the software phone
* forward SIP messages sent from the software phone as text messages

Barring that, I would like to:
* forward text messages received on the Twilio number as email messages
* forward replies to these email messages as text messages to the original sender

[2019-05-20 16:27] eric-brechemier opened #8 "Calls are not encrypted"
Twilio does not currently support encryption of [calls registered with Twilio's endpoint](https://www.twilio.com/docs/voice/api/sip-making-calls#transport).
Encrypted transport is only supported with [SIP trunking](https://www.twilio.com/docs/sip-trunking):

[2019-05-20 16:28] eric-brechemier opened #9 "Every call transits through the US"
According to the documentation of the [`<Sip>`](https://www.twilio.com/docs/voice/twiml/sip) element:

and

[2019-05-20 17:31] eric-brechemier commented on #9
Phil Nash, a Twilio evangelist, [confirmed on Stack Overflow](https://stackoverflow.com/a/47147200) that the `region` parameter is not supported with SIP registration, only with SIP trunking:

[2019-05-23 17:29] #3 closed, assigned to eric-brechemier

[2019-05-24 15:20] eric-brechemier commented on #1
You may leave your comments below.

[2019-05-24 15:20] eric-brechemier commented on #2
You may leave your comments below.

[2019-05-24 15:20] eric-brechemier commented on #3
You may leave your comments below.

[2019-05-24 15:20] eric-brechemier commented on #4
You may leave your comments below.

[2019-05-24 16:32] eric-brechemier commented on #5
You can leave your comments below.

[2019-05-24 17:10] eric-brechemier commented on #6
You may leave your comments below.

[2020-03-15 18:24] asmabelhadj123 opened #10 "Download twilio record in my dataBase"
Hii; I used the "action" option of twiML to send the recording of a call to my application and add the url and the text of call in my database

but it doesn't  work

`<?xml version="1.0" encoding="UTF-8"?>
<Response>
    <Dial record="true"  >
      +########
  </Dial>
  <Record
          method="POST"
          action="http://myapp.com/phone_call/speech.php"
          timeout="10"
   />
</Respons

[2020-03-26 17:36] eric-brechemier commented on #10
Hi @asmabelhadj123!

I am sorry, but your issue does not seem to be related to this guide. Here, I am not trying to record whole calls, only voicemails.

However, from my reading of [Twilio Voice documentation](https://www.twilio.com/docs/voice/twiml/dial#record), you don't need to use the `<Record>`element here, but to configure a callback in the [recordingStatusCallback](https://www.twilio.com/d

[2020-03-26 17:36] #10 closed, assigned to nobody

[2020-09-30 00:03] AmIJesse commented on #8
Twilio does appear to support call encryption now, under the sip domain settings you can enable "Secure Media", and enable "SRTP" and "Mandatory Encryption" under linphone's "Calls abd Chat" settings.

[2020-10-05 18:23] eric-brechemier commented on #8
@AmIJesse Thank you for the heads-up. I'll try it out.

[2020-10-15 21:25] scyrus7 commented on #2
Thanks for the information Eric. After going through your information I created an account in [VoiceRules](https://www.voicerules.com) for my individual US virtual number. The setup was smooth and the cost was fair compare to the market. After testing the [VoiceRules ](https://www.voicerules.com) service I recommended it to my friend who has a company and his company has branches in different citi

[2020-12-18 01:50] lucanos commented on #1
I had Skype pull a similar scam on me. I had the Unlimited World Subscription, which included 3 phone numbers. And I had also made the mistake of loading my Skype account up with credit (from gift cards which I would buy when they were on special). So I ended up in a position where my subscription was cancelled without my consent, with enough credit on my account to cover 3 years of what I had bee

[2021-01-16 19:29] HengYeDev commented on #7
I'm currently writing an app (fork linphone) that will receive SMS from the Twilio API and also do the features of Linphone.

[2021-01-18 17:39] eric-brechemier commented on #7
@HengYeDev Thank you for letting me know. I'll be interested to test it. Which platform are you targeting?

[2021-01-18 18:00] HengYeDev commented on #7
I'm targeting android for now, may also do linux, ubuntu touch, and sailfish

[2021-01-18 18:32] eric-brechemier commented on #7
@HengYeDev It seems that you are only targeting mobile phones. I might not be able to test it then.

I am still interested to hear about how it pans out.

[2021-01-18 18:40] HengYeDev commented on #7
I'm also trying to get it to forward to email and when you respond to the email you respond to the text.

Heng Ye
https://yeheng.org | Twitter https://twitter.com/HengYeDev

---- On Mon, 18 Jan 2021 13:32:45 -0500 Eric Bréchemier <notifications@github.com> wrote ----

https://github.com/HengYeDev It seems that you are only targeting mobile phones. I might not be able to test it then.

I am still i

[2021-01-19 12:10] eric-brechemier commented on #7
Neat!

[2021-05-10 04:27] sith-on-mars commented on #5
Does it work with VOIP software phone on mobile system, like Linphone?

[2021-05-10 13:50] eric-brechemier commented on #5
I am using Linphone on macOS, but I am positive that it should work just the same using VOIP software on a phone or tablet.

[2021-10-30 12:32] eric-brechemier commented on #9
The documentation no longer includes these limitations.

— https://www.twilio.com/docs/voice/twiml/sip#Sip-URI-region

and

— https://www.twilio.com/docs/voice/api/sip-registration#register-your-sip-endpoint

[2021-10-30 13:01] eric-brechemier commented on #8
Also:

[2022-02-18 21:14] eric-brechemier commented on #9
Twilio is rolling out its global infrastructure to make it available in [different regions](https://www.twilio.com/docs/global-infrastructure#twilio-regions). There are only [two regions available](https://www.twilio.com/docs/global-infrastructure#control-data-residency) at the moment, but one is in Europe:
- United States (US1)
- Ireland (IE1)

US is the default and Ireland must be explicitly sel

[2022-02-19 13:23] eric-brechemier commented on #8
I have updated the [corresponding section](https://github.com/eric-brechemier/how-i-replaced-skype-with-twilio/issues/5#issuecomment-488743605) of the step by step setup:

## Create a SIP Domain
(…)

10. Under **Secure Media**, click the <span><img align="top" width="80" alt="Disabled" src="https://user-images.githubusercontent.com/151276/57087276-fbe41580-6cff-11e9-9bf5-9c449636255b.png"></span>

[2022-02-19 14:38] eric-brechemier commented on #8
I have also added [instructions to configure call encryption in Linphone](https://github.com/eric-brechemier/how-i-replaced-skype-with-twilio/issues/5#issuecomment-488824107). The option to send SIP registration over TLS was already selected.

## Connect to SIP from your Computer
(…)
1. Open Linphone > Preferences > Calls and Chat.

2. Under **Calls**, click the <span><img align="top" width="42" a

[2022-02-19 14:41] eric-brechemier commented on #8
With these two changes, SIP registrations and calls are now expected to be encrypted.

[2022-02-19 15:13] eric-brechemier commented on #8
Linphone shows outgoing calls as encrypted with SRTP:

<img width="189" alt="outgoing-call-encrypted" src="https://user-images.githubusercontent.com/151276/154806757-5644d47a-7d84-4cbf-88aa-75b92dd8b246.png">

[2022-02-19 15:23] eric-brechemier commented on #8
As noted by [user _Eduardo_squidwardo_ on Reddit](https://www.reddit.com/r/VOIP/comments/hq34la/comment/gfs6pu7/), the *Encryption is mandatory* option must ***not*** be selected at this point.

Otherwise, incoming calls are rejected by Linphone, which answers:

[code]

after the SDP offer/answer process fails:

[code]

While when _Encryption is mandatory_ is disabled, the SDP offer/answer process

[2022-02-19 15:23] eric-brechemier commented on #8
Linphone shows that incoming calls are not encrypted:

<img width="102" alt="incoming-call-not-encrypted" src="https://user-images.githubusercontent.com/151276/154807163-3dae2f70-4213-4c7c-bdcd-c2f5305ad763.png">

[2022-02-19 15:35] eric-brechemier commented on #8
I have disabled _Encryption is mandatory_ option for now, until I find how to encrypt incoming calls as well.

## Connect to SIP from your Computer
(…)

If you choose to make encryption mandatory, incoming calls will get rejected unless they are encrypted as well. **This option must not be checked at this point.**

<p align="center">
  <kbd>
    <img width="253" alt="Encryption is not mandatory" s

[2022-02-19 15:45] eric-brechemier commented on #8
This is the behavior described in the [Secure Media](https://www.twilio.com/docs/voice/api/secure-media) documentation.

The _Secure Media_ option of SIP domains applies to [inbound calls only](https://www.twilio.com/docs/voice/api/secure-media).
When enabled, SRTP encryption must be used by the Linphone client, or calls will get rejected.

For [outbound calls](https://www.twilio.com/docs/voice/ap

[2022-02-19 18:35] eric-brechemier commented on #8
After this change in the TwiML Bin *Receiving Calls from Regular Phones to SIP*, incoming calls are now encrypted with SRTP as well:

<img width="189" alt="incoming-call-is-encrypted-with-srtp" src="https://user-images.githubusercontent.com/151276/154814241-1b746042-0eb0-4250-b798-4ae7eb18174f.png">

It becomes possible to make encryption mandatory, and incoming calls are no longer rejected, since

[2022-02-19 18:45] eric-brechemier commented on #8
Two parameters must be set in the SIP URL:
* `transport=tls` to [encrypt the SIP INVITE](https://www.twilio.com/docs/voice/twiml/sip#transport),
* `secure=true` to [encrypt the incoming SIP call](https://www.twilio.com/docs/voice/api/secure-media#outbound).

[2022-02-19 19:02] eric-brechemier commented on #8
Including both parameters in the URL leads the call to fail, when Linphone requires encryption, in the same as when no call encryption was applied:

[code]

and disabling this requirement, the incoming call is no longer encrypted.

It thus appears that usage of `secure=true`, described in the Secure Media documentation, is superseding the more limited `transport=tls` parameter described in the doc

[2022-02-19 19:19] eric-brechemier commented on #8
Calls are now encrypted.

[2022-02-19 20:32] eric-brechemier commented on #8
I combined SIP parameters with `&amp;` instead of `;`. Let's try again.

The format of SIP URLs is described in [RFC 2543](https://datatracker.ietf.org/doc/html/rfc2543):

[code]

[2022-02-19 20:37] eric-brechemier commented on #8
Both parameters can be included in this way:

[code]

The previous form resulted in invalid parameter values:

[code]

or

[code]

[2022-02-19 20:58] eric-brechemier commented on #8
I updated the [description of Linphone client setup](https://github.com/eric-brechemier/how-i-replaced-skype-with-twilio/issues/5#issuecomment-488824107), adding the possibility to make encryption of inbound calls required.

## Connect to SIP from your Computer
(…)

3. I also chose to make encryption mandatory. This check applies to incoming calls. When this check is enabled, incoming calls will g

[2022-02-19 21:09] eric-brechemier commented on #8
I also updated the description of the steps to [configure the TwiML Bin script](https://github.com/eric-brechemier/how-i-replaced-skype-with-twilio/issues/5#issuecomment-491344662) _Receiving Phone Calls from Regular Phones to SIP_:

## Receiving Calls
(…)

[code]
(…)
<p align="center">
  <kbd>
    <img width="400" alt="New TwiML Bin Receiving Calls from Regular Phones to SIP" src="https://user-im

[2022-02-19 21:09] #8 closed, assigned to eric-brechemier

[2022-02-19 21:27] eric-brechemier commented on #8
@AmIJesse Thanks! Starting from your input, I have finally made the changes to successfully encrypt phone calls.

[2022-02-19 21:42] eric-brechemier commented on #9
Regions identifiers [have now been replaced](https://www.twilio.com/docs/global-infrastructure/edge-locations/legacy-regions#public-legacy-regions) with names of cities for edge locations:

[2022-02-19 21:45] eric-brechemier commented on #9
The [documentation of the SIP `region` parameter](https://www.twilio.com/docs/voice/twiml/sip#Sip-URI-region) still references the shorter legacy identifiers, including `us2` however:

[2022-03-15 11:35] eric-brechemier opened #11 "e164 Mustache filter transforms UK phone number into US phone number"
I configured a new UK mobile phone number today, which failed to make calls due to an invalid caller id.

I am using the generic TwiML Bin from [the guide](https://github.com/eric-brechemier/how-i-replaced-skype-with-twilio/issues/5#issuecomment-489185155), which extracts the phone number from the SIP Domain:

[code]

The e164 Mustache filter used to extract my own phone number from the SIP Domain

[2022-03-15 11:42] eric-brechemier commented on #11
Let's check whether the `{{To}}`value is affected by this issue as well:

[code]

Yes, the number is transformed in the same way, as shown in the logs:

[code]

[2022-03-15 12:36] eric-brechemier commented on #11
Calling the same UK phone number results in a correct conversion, however, in the `{{To}}` number.

The number is received by Twilio as:

[code]

and correctly transformed to:

[code]

[2022-03-15 12:48] eric-brechemier commented on #11
Let's try different values:

[code]

[2022-03-15 12:49] eric-brechemier commented on #11
The `{{#e164}}` filter results in different phone numbers depending on the presence and the position of the dashes which separate groups of digits in the phone number.

[2022-03-15 13:25] eric-brechemier commented on #11
I have reported this issue to Twilio for their consideration.

As a workaround, I now recommend, for the configuration of any new phone number, [to remove all dashes from the phone number value used as unique SIP domain](https://github.com/eric-brechemier/how-i-replaced-skype-with-twilio/issues/5#issuecomment-488743605).

There is no point in changing the configuration of existing phone numbers. I

[2022-03-26 15:28] eric-brechemier commented on #7
I have [compared different services to help me send and receive SMS messages by email](https://github.com/eric-brechemier/how-i-replaced-skype-with-twilio/issues/12); I have identified [Pipedream](https://pipedream.com) as a suitable solution, which supports:

* incoming email messages, to a custom address of the form `[unique-id]@upload.pipedream.net`
* incoming HTTP requests from webhooks, at a

[2022-03-26 15:30] eric-brechemier opened #12 "Compare different services to send and receive SMS messages by email"
[Twilio has acquired SendGrid in February 2019](https://www.twilio.com/press/releases/twilio-completes-acquisition-sendgrid). Following this acquisition, I expected Twilio to add inbound and outbound email APIs to its platform, integrating these services offered by Sendgrid through actions available in Twilio Markup Language, [TwiML](https://www.twilio.com/docs/voice/twiml). Three years have passe

[2022-03-26 20:45] eric-brechemier commented on #12
Starting with Twilio SendGrid and Zapier, I have now tested seven different services, in two different categories:

* transactional email, exemplified by SendGrid (although it's not their main focus)
* automated workflows, exemplified by Zapier

My three main criteria for this evaluation were:

* simplicity: easy to setup and quick to explain.
* end-to-end: complements Twilio with no other third-p

[2022-03-26 22:26] eric-brechemier commented on #12
## Transactional Email

| Service | Plan | Simple | End-to-End | Quota | Price |
| :--- | :--- | :--- | :--- | ---: | ---: |
| [SendGrid](https://sendgrid.com/) | [Free](https://sendgrid.com/pricing/) | No | No | 100 emails/day | $0/month |
| [CloudMailin](https://www.cloudmailin.com/) | [Free](https://www.cloudmailin.com/plans) | No | No | 10,000 ~~200~~ emails/month | $0/month |
| [SocketLabs](h

[2022-03-26 23:11] eric-brechemier commented on #12
## Automated Workflows

| Service | Plan | Simple | End-to-End | Quota | Price |
| :--- | :--- | :--- | :--- | ---: | ---: |
| [Zapier](https://zapier.com/) | [Starter](https://zapier.com/pricing) | No | Maybe | 750 tasks/month | €28.06/month |
| [IFTTT](https://ifttt.com/) | [Pro+](https://ifttt.com/plans) | No | Maybe | 750 emails/day | €9.20/month |
| [Pipedream](https://pipedream.com/) | [Deve

[2022-03-26 23:18] eric-brechemier commented on #12
I found a related issue on the GitHub issue tracker of pipedream:

* [[FEATURE] Allow email send action to reply to trigger email #2158](https://github.com/PipedreamHQ/pipedream/issues/2158)

I started to work on a [PR](https://github.com/PipedreamHQ/pipedream/pull/2488) and I received relevant feedback promptly with assurances that the issue would be solved when work currently in progress would b

[2022-03-26 23:23] eric-brechemier commented on #12
Pipedream does the job and fulfills all three of my evaluation criteria:

* simple to use, with both workflows working already to send and receive sms by email.
* end-to-end, including a well-documented and fully functioning integration with Twilio to send SMS using an API key.
* cheap and generous, with 10,000 invocations per month included for free.

[2022-03-26 23:24] eric-brechemier commented on #12
I will describe the configuration steps of the two workflows using Pipedream in the main issue related to my use case:

* [Configure Twilio to send/receive text messages #7](https://github.com/eric-brechemier/how-i-replaced-skype-with-twilio/issues/7)

[2022-03-26 23:24] #12 closed, assigned to eric-brechemier

[2022-03-27 19:22] eric-brechemier commented on #7
## Create Pipedream Account

**Note:** *There is a limitation in email notifications sent by Pipedream at the moment: they can only be sent to the email address that you used to sign up to the service. This limitation will be lifted in an upcoming update of the platform, but at the moment, you should sign up with the email address were you want to receive your SMS messages.*

1. Go to [Pipedream](

[2022-03-27 23:12] eric-brechemier commented on #7
## Configure Workflow to Send SMS by Email

This workflow is made of two steps:
1. a trigger: an email sent from your usual email client, which will provide the text and recipient for the SMS.
2. a connection to Twilio SMS API to send the text as an SMS to the destination number.

The wizard for the creation of a new workflow invites you to select the trigger:

<p align="center">
  <kbd>
    <img

[2022-03-31 18:09] eric-brechemier commented on #7
## Configure Workflow to Receive SMS by Email

We are now going to configure a second workflow to receive SMS messages as emails. Again, this workflow will have two steps:

1. a trigger step, an HTTP webhook configured in Twilio to get notified of new SMS messages.
2. an action step to send ourselves an email with the contents of the SMS.

This second workflow does not require a connection to Twil

[2022-03-31 19:06] #7 closed, assigned to eric-brechemier

[2022-03-31 19:06] eric-brechemier commented on #7
You may leave your comments below.

[2022-05-24 13:28] eric-brechemier opened #13 "Authentication SMS messages are never received by my Twilio phone number"
I have set up my Twilio phone number with some services that require a code sent by SMS for authentication. Although I do receive ordinary SMS messages successfully on this number, I have never received any of the authentication messages.

[2022-05-24 13:33] eric-brechemier commented on #13
Until recently, I did not know what made these authentication SMS messages special. I contacted the support of the authentication service provider and they assured me that the SMS messages had been successfully sent on their end, but nothing was showing in my Twilio console.

I perused the Twilio knowledge base searching for any issue related to the failed reception of SMS messages and I found the

[2022-05-24 13:51] eric-brechemier commented on #13
I checked the details of these authentication SMS messages on a regular mobile phone where they had been successfully received and I confirmed that the sender was not shown as an international phone number but as a short text identifier.

I considered carefully the different limitations of inbound SMS sent from short codes, as stated in the knowledge base article:

I have a single phone number in

[2022-05-24 13:56] eric-brechemier commented on #13
I have requested the feature to be enabled on my Twilio accounts and I received an answer promptly. It restates the limitations to be acknowledged before enabling the feature:

[2022-05-24 13:58] eric-brechemier commented on #13
I have acknowledged and agreed to the limitations and confirmed my request by providing the Twilio Account SID which can be found in the _Account Info_ section on the home page of each account.

[2022-05-24 14:01] eric-brechemier commented on #13
The feature has been enabled for my three Twilio accounts. After making a new authentication test, I received the SMS messages immediately. The Twilio console logged the sender as a short number of 5 digits.

I am glad that it worked for me with this service provider, although I understand that different providers may or may not succeed to send me authentication messages in the same way. YMMV.

*F

[2022-05-24 14:01] #13 closed, assigned to eric-brechemier

[2022-07-10 09:10] sith-on-mars commented on #2
How would you compare Twilio to [VOIP.MS](https://voip.ms/en)?

[2022-07-27 13:39] eric-brechemier commented on #2
@sith-on-mars from what I gathered on VOIP.MS website, they have [more features](https://voip.ms/en/features/overview) out of the box than Twilio, which is a programmable platform where you would have to write programs to get equivalent features. Twilio has broader international coverage for the choice of local phone numbers. Their pricing looks similar.

| Service | French Phone Numbers? | Subscr

[2022-08-05 16:28] eric-brechemier commented on #9
I have not had much success with changing the region for the SIP registration: when the region is not included or differs from `us1` in the domain configured with Linphone, the registration fails. There is a separate parameter called `Route` in the configuration where a separate server address and parameters can be configured, but this is apparently only used to route calls, not for the initial SI

[2022-10-19 09:58] suneelx commented on #5
Thank you so much man! I had to get a number urgently for work, didn't had any time for creating new app. mate do you have similar giude for sms send/receive with linphone?

[2022-10-19 10:42] eric-brechemier commented on #5
Hi @SuneelGiri! Glad to help! Sending and receiving SMS is sadly not straightforward. You can find a description of the workflows that I have configured to [send and receive SMS messages by email using Pipedream](https://github.com/eric-brechemier/how-i-replaced-skype-with-twilio/issues/7#issuecomment-1080002690) instead.

Beware that receiving SMS messages coming from short code numbers through a

[2022-10-19 13:12] suneelx commented on #5
@eric-brechemier no worries, thank you!

[2022-10-21 04:48] suneelx commented on #5
@eric-brechemier mate have you tried linphone android? I tried the same config for the android, outgoing call works perfectly, incoming has some problems, like the app doesn't give me option to accept the call, it automatically accepts, then cut the call itself after some seconds.

[2022-10-21 09:25] eric-brechemier commented on #5
@SuneelGiri I haven't tried Linphone Android but what you describe reminds me of a similar issue reported in March of this year by another user. They got in touch directly with the [Linphone developers](https://www.linphone.org/contact) to report the issue. It might be worth checking the status with them.

[2022-10-21 13:18] suneelx commented on #5
@eric-brechemier no worries mate. I fixed it.

[2022-10-21 15:28] eric-brechemier commented on #5
@SuneelGiri Cool. Anything you'd like to share?

[2022-10-21 15:41] suneelx commented on #5
@eric-brechemier At first I added the sip account then changed the settings. Later uninstalled the app. Installed it again, change the settings then added the sip account and it got fixed.

[2022-11-04 16:13] suneelx commented on #13
Mate have you tried whatsapp and received the code?

[2022-11-04 18:42] eric-brechemier commented on #13
No, I have not tried to receive SMS messages from WhatsApp. AFAIK, you need to have WhatsApp installed on an actual mobile phone anyway, even to use it on a computer. WhatsApp Web displays a QR code that you need to scan from the app to activate it, and the mobile phone needs to keep an active Internet connection to keep WhatsApp Web running on the computer.

I have used an Android emulator to run

[2022-11-06 04:53] suneelx commented on #13
@eric-brechemier no worries. Thanks

[2022-11-30 04:27] suneelx commented on #5
Hi @eric-brechemier, Can we setup multiple numbers to a single linphone app? Also multiple number sms through pipedream?

[2022-11-30 09:33] eric-brechemier commented on #5
@SuneelGiri Yes, I am using this setup with three different numbers corresponding to three different countries. I have a separate project for each number in Twilio and separate input/output pipelines for each number in Pipedream.

In Linphone, I can receive phone calls from all three numbers and select which number I want to use to place calls using the drop-down list.

[2022-11-30 11:52] suneelx commented on #5
@eric-brechemier , thats awesome. Thanks mate!